*{
  font-family: 'Yusei Magic',sans-serif;
  font-size: 14px
}
.tittle{
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  color: rgb(144, 255, 255);
  background:rgb(0, 54, 105);
  box-shadow: 0 0 10px 5px teal;
}
.grid-item{
  font-size: 40px;
  text-align: center;
  padding-top: 55px;
  background:rgb(86, 156, 221);
  border: solid 4px rgb(0, 83, 160)
}
.grid-container{
  margin: 20px;
  padding: 10px;
  width: 1fr;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
  /*
  * minmax() --> sirve para determinar el tamaño mínimo y máximo que va a tener cada grilla.
  * min-content --> Es lo mínimo que va a medir la grilla, este tamaño se determinara de acuerdo al contenido de la grilla.
  *                 Es decir que si el contenido es un texto este tomara como tamaño mínimo el ancho del texto que contenga.
  * auto-fill --> Genera la cantidad de columnas, de forma automática, que puedan entrar de acuerdo al tamaño de la ventana.
  */
  grid-template-rows: repeat(3,150px);
  grid-gap:3px;
  border: solid 3px rgb(0, 54, 105);
  background-color: rgb(21, 48, 71);
}