* {
    font-family: 'Yusei Magic',sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.Cuadros p{
  width: 150px;
  height: 150px;
  margin: 20px;
  border: 10px solid red;
  background: yellow;
  display: inline-block
}

.imgdiv::first-line{/*Solo funciona con elementos que sean inline-block y block*/

  color: chocolate;
  font-size: 30px;

}

input{
  font-size: 20px;
  margin: 100px;
  display: block; 
  background-color: gray;
  color: antiquewhite;
}

input::placeholder{
  color: white;
  text-align: center;
}

input::selection{
  color: white;
  background-color: black;
}

.pseudoElementos{
  background-color: gray;
  padding: 20px;
}

.pseudoElementos::before{
  content: "Me fui";
  color: white;
}

.pseudoElementos::after{
  content: "la avenida grau";
  color: #fff6f6;
}

.pseudoclase{
  margin: 50px;
  padding: 5px;
  border: solid blue 5px;
  background-color: rgb(107, 107, 212);
  color: rgba(255, 255, 255, 0.781);
  text-align: center;
  transition: padding 0.5s, background 1s, color 1s;
}
a{
  display: block;
}
a:link{
  color: blueviolet;
}
a:visited{
  color: rgb(202, 110, 110);
}

.active{
  margin: 50px 0px 50px 50px;
  padding: 20px 25px;
  border: black solid 3px;
  color: black;
  display: inline-block;
  transition: 0.5s;
}

.active:active{
  background: rgb(150, 150, 150);
  color: white;
}

.focuseando{
  margin: 50px 0 500px;
  background-color: darkgray;
  width: 200px;
  height: 100px;
  color: white;
  transition: 1s;
  display: block;
  font-size: 15px;
  resize: none;
}
.focuseando::placeholder{
  color: white;
}
.focuseando:focus{
  width: 500px;
  height: 500px;
  background-color: rgb(66, 66, 66);
}

.langueando b:lang(jp){
  padding-left: 20px;
  background: grey;
  color: white;
  border: black solid 2px;
}
.langueando b:lang(es){
  border: black solid 2px;
  color: gray;
  padding: 0 20px 0 20px;
}
.pseudoclase:hover{
  background-color: rgb(130, 130, 255); 
  color: white;
  padding: 30px;
}

.imgdiv{
  font-size: 20px; 
  text-align: justify;
  border: 10px solid red;
  background: yellow;
  width: 50%;
  padding: 10px;
}
/*
.container p{
  font-size: 20px;
  float: right;
}

.primario{
  background: red;
  width: 70%;
}

.secundario{
  background: yellow;
  width: 30%;
}
*/

.lorem{
  font-size: 20px;
  margin: 100px;
  width: 300;
  height: 150px;
  border: 4px solid aquamarine;
  background: greenyellow;
  overflow: hidden;/* Sirve para hacer que el contenido sobrante no salga del contenedor*/
}

.imgdiv{
  overflow: visible;/* Es el valor por defecto de overflow*/
}
.imgdiv p{
  font-size: 20px;
}
img{
 float: right;
 margin: 10px;
}